includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/
    
    excludePaths:
        - database/migrations/
        - vendor/
        - storage/
        - bootstrap/cache/
