Typography$font-family-sans-serif
$font-size-base: 0.9rem;$font-size-base$font-size-base$font-size-base
$line-height-base: 1.6;$line-height-base$line-height-base

// Colors
$blue: #3490dc;

Colors$blueColors$blueColors$blueColors$blue
$indigo: #6574cd;$indigo$indigo$indigo
$purple: #9561e2;$purple$purple
$pink: #f66d9b;$pink
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
