// dashboard css
.total-users-bg {
    background: #4facfe;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.verified-users-bg {
    background: #4776E6;
    background-image: linear-gradient(to right, #8E54E9, #4776E6);
    background-image: linear-gradient(to right, #8E54E9, #4776E6);
}

.today-jobs-bg {
    background: #9be15d;
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}

.feature-jobs-bg {
    background: rgb(230 115 1 / 68%) 21.4%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(230 115 1 / 68%) 21.4%, rgb(255 78 78 / 100%) 80.3%);
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(230 115 1 / 68%) 21.4%, rgb(255 78 78 / 100%) 80.3%);
}

.feature-employers-bg {
    background-image: radial-gradient(circle 465px at -15.1% -25%, rgb(17 130 193 / 100%) 0%, rgb(67 166 238 / 100%) 49%, rgb(126 203 244 / 100%) 90.2%);
}

.feature-jobs-incomes-bg {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgb(241 180 47 / 100%) 0%, rgb(234 149 11 / 100%) 90%);
}

.feature-employers-incomes-bg {
    background-image: radial-gradient(circle 595px at 10.2% 19.1%, rgb(200 137 244 / 100%) 27.1%, rgb(113 149 244 / 100%) 98.7%);
}

.subscription-incomes-bg {
    background-image: radial-gradient(circle 970px at 10% 20%, rgb(243 69 98 / 100%) 0%, rgb(187 187 187 / 100%) 100.2%);
}
